<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/my.css">
</head>
<body>
    <img src="./logo.png" alt="Team TBD">

    <a href="http://www.intl.zju.edu.cn" target="_blank" title="I love UIUC">ZJUI</a>

    <h1 class="red-big-center">Catalog</h1>
    <a href="#input">Input</a>
    <a href="#titles">Titles</a>
    <a href="#paragraphs">Paragraphs</a>
    <a href="#function">Function</a>
    <a href="#list">List</a>
    <a href="#inputField">User</a>
    <a href="#table">Table</a>
    <a href="#contact">Contact</a>

    <h1 id="input">Input</h1>
    <input type="text" placeholder="User ID">

    <h1 id="titles">Titles</h1>
    <h1>Title1</h1>
    <h1>Title2</h1>
    <h1>Title3</h1>
    <h1>Title4</h1>
    <h1>Title5</h1>
    <h1>Title6</h1>

    <h1 id="paragraphs">Paragraphs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellat laboriosam necessitatibus corporis magni? Magni dolorum aspernatur laboriosam, aliquid ipsum dicta recusandae at laudantium quos alias, delectus nisi inventore atque.</p>
    <p>Vero similique facere veritatis sit iusto quae eligendi omnis illum neque in, expedita ut corrupti consequuntur tempore error qui incidunt repellendus quasi accusantium necessitatibus eaque vel corporis blanditiis fugiat! Eos.</p>
    <p>Fuga, deserunt vitae iusto praesentium et quae quod similique. Omnis fugiat eum tempora neque, cumque veniam! Impedit ut vero a expedita quia obcaecati deserunt nobis labore similique quae, consequatur debitis!</p>
    <p>Doloremque placeat ut, voluptas, minima cupiditate facilis at quia vero molestias officia porro eligendi nemo labore! Ipsam ratione quo, minima sed tempore accusantium rem repudiandae veritatis. Quam aut distinctio adipisci.</p>
    <p>Voluptatem voluptates consequuntur eligendi autem culpa dolor illum expedita eum sapiente quisquam magnam deleniti tempore, exercitationem in ex. Optio unde magnam aut nesciunt labore, similique cumque ab repudiandae tempora ducimus.</p>
    <p>Quaerat aliquam modi ex laborum consequuntur perspiciatis, vel ipsa illum excepturi rem iure dolore! Quos libero iste, autem debitis obcaecati deleniti praesentium vero, distinctio quas dicta assumenda asperiores placeat fugiat.</p>

    <h1 id="function">Function</h1>
    <a href="javascript:alert('Hello Human!')">Hello AI!</a>

    <h1 id="list">List</h1>
    <ol type="I">
        <li>task1</li>
        <li>task2</li>
        <li>task3</li>
    </ol>

    <h1 id="contact">Contact</h1>
    <a href="mailto:qilong2@illinois.edu">Group Leader-Qi Long</a>

    <h1 id="inputField">User</h1>
    <div>
        <h1>User</h1>
        <fieldset>
            <legend>User Info</legend>
            <p>
                Account:
                <input type="text">
            </p>
            <p>
                Password:
                <input type="password">
            </p>
        </fieldset>
        <fieldset>
            <legend>User Info2</legend>
            <p>
                Account:
                <input type="text">
            </p>
            <p>
                Password:
                <input type="password">
            </p>
        </fieldset>
    </div>

    <h1 id="table">Table</h1>
    <table>
        <caption>US states</caption>
        <thead></thead>
            <tr>
                <th rowspan="2">col1</th>
                <th>col2</th>
            </tr>
            <tr>
                <th>row2</th>
            </tr>
            <tr>
                <td colspan="2">last row</td>
            </tr>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>

    <a href="#">Back To Top</a>
</body>
</html>